@import "variables";

.container {

}
.genplan {
  border: 1px solid #C3CAD9;
  background: #fff;
  padding: 10px;
  margin: 10px 0;
  position: relative;

  &__img {
    max-width: 100%;
  }
}

.icon-quarter {
  position: absolute;
  top: 30%;
  left: 9%;
  background-color: $bgQuarter;
  color: #fff;
  padding: 3px 11px;
  text-transform: uppercase;
  font-weight: normal;
  font-family: $fontFamily;
  border-radius: 3px 3px 3px 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 5px rgba(0,0,0,.45);
  transition: all .3s;

  &_14 {
    top: 21%;
    left: 25%;
  }

  &:hover {
    transform: translateY(-5px);
  }

  /*&:before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 14px 20px 0;
    border-color: $bgQuarter transparent;
    display: block;
    width: 0;
    z-index: 1;
    bottom: -14px;
    left: 0;
  }*/

  &__number {
    font-size: 19px;
    padding-right: 11px;
    position: relative;


    &:after {
      width: 1px;
      top: 6px;
      right: 0;
      height: 16px;
      content: "";
      position: absolute;
      background-color: #fff;

    }
  }

  &__text {
    font-size: 9px;
    padding-left: 11px;
  }
}

.icon-housing {
  position: absolute;
  top: 61%;
  left: 38%;
  width: 44px;
  height: 33px;
  background-color: $bgHousing;
  color: #fff;
  padding: 3px 6px;
  text-align: center;
  font-weight: normal;
  font-family: $fontFamily;
  border-radius: 3px 3px 2px 2px;
  box-shadow: 2px 2px 5px rgba(0,0,0,.45);
  transition: all 1s;
  cursor: pointer;
  z-index: 1;

  &:hover {
    transform: translateY(-5px);
  }

  &_stock-height {
    height: 48px;
  }

  &_stop-height {
    height: 39px;
  }
  &_16b-stock {
    top: 37%;
    left: 49.5%;
  }

  &_8-stock {
    top: 13%;
    left: 75.5%;
    z-index: 1;
  }

  &_14 {
    top: 50%;
    left: 83%;
  }

  &:before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 14px 22px 0;
    border-color: $bgHousing transparent;
    display: block;
    width: 0;
    z-index: 1;
    bottom: -13px;
    left: 0;
    transition: all 1s;
  }

  &_7-stop {
    top: 33%;
    left: 75.5%;
    padding-top: 9px;
    background: $bgHousingStop;
    &:before {
      border-color: $bgHousingStop transparent;
    }
  }
  &__number {
    font-size: 19px;
  }
  &__stock-text {
    font-size: 9px;
    margin-top: 3px;
    color: #fbb03b;
  }

  &__stock-icon {
    position: absolute;
    background: #fbb03b;
    font-size: 8px;
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    top: -9px;
    left: 50%;
    margin-left: -8px;
    border: 1px solid #fff;
  }

  &__stop-icon {
    position: absolute;
    background: #ff3a52;
    font-size: 8px;
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    top: -9px;
    left: 50%;
    margin-left: -8px;
    border: 1px solid #fff;
  }
  &:hover:not(.icon-housing_7-stop) {
    position: absolute;
    width: 180px;
    height: 125px;
    margin-top: -75px;
    border-radius: 3px;
    transform: translateX(-60px);
    &:before {
      left: 75px;
      bottom: -9px;
      border-width: 10px 10px 0;
    }
  }

  &:hover .tooltip-g {
    visibility: visible;
    opacity: 1;
    transition: all 1s .9s ease-out;
    transform: translateY(0px);
    z-index:9999;
  }

  &:hover:not(.icon-housing_7-stop) &__number {
    font-size: 0px;
    transition: all 1s .5s ease-out;
  }
}

.tooltip-g {
  visibility: hidden;
  opacity: 0;
  position: relative;

  &__wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  &__number {
    font-size: 11px;
    padding-right: 10px;
    position: relative;
    &:after {
      width: 1px;
      top: -1px;
      right: 0;
      height: 16px;
      content: "";
      position: absolute;
      background-color: #fff;

    }
  }
  &__text {
    font-size: 11px;
    padding-left: 10px;
  }
  &__list {
    margin-top: 3px;
    text-align: left;
    font-size: 11px;
  }
  &__link {
    font-size: 10px;
    text-align: right;
    margin: 5px 3px 0 0;
    & a {
      color: #fff;
      text-decoration: none;

      &:hover {
        color: darken(#fff, 10%);
      }
    }

  }
}


@import "media";
