
@media only screen and (max-width : 1200px) {

}


@media only screen and (max-width : 992px) {

}


@media only screen and (max-width : 768px) {

}


@media only screen and (max-width : 480px) {

}

@media only screen and (max-width : 375px) {
  .icon-quarter {
    padding: 3px 5px;

    &:before {
      left: 6px;
      bottom: -13px;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-right: 7px solid $bgQuarter;
    }
    &__number {
      font-size: 9px;
      padding-right: 6px;

      &:after {
        top: 1px;
        height: 10px;
      }
    }
    &__text {
      font-size: 7px;
      padding-left: 4px;
    }
  }


  .icon-housing {
    width: 26px;
    height: 18px;
    padding: 3px 0px;

    &:before {
      left: 8px;
      bottom: -18px;
      border-top: 13px solid transparent;
      border-bottom: 13px solid transparent;
      border-right: 10px solid $bgHousing;
    }

    &_stock-height {
      height: 31px;
    }
    &_stop-height {
      height: 28px;
    }

    &_7-stop {
      padding-top: 13px;
      background: $bgHousingStop;

      &:before {
        content: "";
        border-right: 10px solid $bgHousingStop;
      }
    }

    &__number {
      font-size: 9px;
    }

    &__stock-text {
      font-size: 7px;
    }

    &__stock-icon {
      left: 5px;

    }

    &__stop-icon {
      left: 5px;
    }
  }




}

@media only screen and (max-width : 320px) {


}




